/*  your css code here. If applicable */
 

        #photo-heading {
			align-items:center;
            font-size: 24px;
            margin-top: 20px;
        }

        .animal-image {
            margin: 10px;
            border: 2px solid #ccc;
            border-radius: 5px;
			background-color:grey;
        }