/*  your css code here. If applicable */
 #animal-photos{
	 background-color:#444444;
	 justify-content:center;
	height:500px;
		
 }

        #photo-heading {
			align-items:center;
            font-size: 30px;
            margin-top: 20px;
			color:white;
			
        }

        .animal-image {
            margin: 10px;
			height:120px;
            border: 2px solid grey;
            border-radius: 16px;
			
        }